# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# VS Code specific
.vscode/

# Custom build outputs (extension-less executables on Linux/macOS)
# This will ignore any file in the root directory that does not have an extension.
# Be careful if you have important extension-less files you want to track.
*
!*.*